.hidden {
  display: none;
}
html,
body, #map {
    height: 100%;
    /*width: 100%;*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: sans-serif;
}
.sidebar {
    z-index: 800;
    background: #f7f7f7;
    position: absolute;
    right: 0;
    height: 100%;
    width: 250px;
    opacity: .8;
}
.scrollbox {
    height: 80%;
    overflow: auto;
}

/*ul {
  list-style: none;
}*/

li {
  font-size: 0.6em;
  cursor: pointer;
}

.bus-route {
  fill: none;
  stroke: #1a48d5;
  stroke-width:1;
}

.text-highlight {
  color: #FF5964;
}
.route-highlight {
  stroke: #FF5964;
  stroke-width: 3;
}
.sticky-text {
  color: #bb59ff;
}
.sticky-route {
  stroke: #bb59ff;
  stroke-width:5;
}
