<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SF Bus Lines</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82812853-3', 'auto');
      ga('send', 'pageview');

    </script> -->
</head>
<body>
  <div id="map"></div>
  <div id="tabswitcher">
    <div class="tab" data-target="all-routes" id="all">all</div>
    <div class="tab" data-target="highlit-routes" id="highlighted">highligted</div>
  </div>
  <div id="highlit-routes" class="route-list aside hidden">
    <button id="reset">show all highlight</button>
  </div>
  <div id="all-routes" class="route-list aside"></div>

</body>
</html>
