body {
  margin:0;
  padding:0;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
.aside {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
  font-size: 9pt;
}
#tabswitcher {
  position: absolute;
  top: 0;
  right: 0;
  /*bottom: 20px;*/
  width: 300px;
  height: 20px;
  overflow: auto;
  background: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  font-size: 9pt;
}
.tab {
  display: inline-block;
  width: 45%;
  height: 15px;
  cursor: pointer;
  margin: 1px auto 1px;
  padding: 0 5px;
  border: 1px solid black;
}
.tab:hover {
  background:#b5b5b5;
}
.route-list {
  cursor: pointer;
}
.route-list li {
  list-style-type: none;
}
.route-list li:hover {
  color: #b514de;
}
.hl {
  color: #b514de;
}
.hidden {
  display: none;
}